doctype html
html(lang="en")
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script.
        $(document).ready(function() {
            var regLi = $("#register-li");
            var activeUsersLi = $("#active-users-li");
            var chatLi = $("#chat-li");
            var path = $(location).attr('pathname');
            if (path == "/") {
                regLi.addClass("active");
            } else if (path == "/active-users") {
                activeUsersLi.addClass("active");
            } else if (path == "/chat") {
                chatLi.addClass("active");
            }
        });
        
    head
        title Ultimate Chat App!

    nav
        ul.nav.nav-tabs
            li#register-li(role="presentation")
                a#register-a(href="/") Register
            li#active-users-li(role="presentation")
                a#active-users-a(href="/active-users") Active Users
            li.disabled#chat-li(role="presentation")
                a#chat-a Chat
