doctype html
html(lang="en")
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    head
        title Ultimate Chat App!

    nav
        ul.nav.nav-tabs
            li.active(role="presentation")
                a(href="#") Register
            li(role="presentation")
                a(href="/active-users") Active Users
            li.disabled(role="presentation")
                a Chat
