doctype html
html(lang="en")
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js")
    include header_js
    head
        title Ultimate Chat App!

    nav
        ul.nav.nav-tabs#nav-ul
            li#register-li(role="presentation")
                a#register-a(href="/") Register
            li#active-users-li(role="presentation")
                a#active-users-a(href="/active-users") Active Users
            li.disabled#chat-li(role="presentation")
                a#chat-a Chat
