script.
    $(document).ready(function() {
        // cookies used to track users logged in status client side
        var chatUserCookieName = '_chatUser';
        var chatUserCookieId = '_chatId';

        // page buttons at the top list items
        var registerLi = $("#register-li");
        var activeUsersLi = $("#active-users-li");
        var chatLi = $("#chat-li");

        configurePageBasedOnPath($(location).attr('pathname'));

        function configurePageBasedOnPath(path) {
            var cookies = getChatCookies();
            var isLoggedIn = cookies.id && cookies.name;

            if (path == "/") {
                setIndexPageButtonState(isLoggedIn);
            } else if (path == "/active-users") {
                setActiveUsersPageButtonState(isLoggedIn);
            } else if (path == "/chat") {
                setChatPageButtonState(isLoggedIn);
            }
        }

        function setIndexPageButtonState(isLoggedIn) {
            registerLi.addClass("active");
            if (isLoggedIn) {
                $("#user").hide();
                $("#userlabel").text("Welcome back " + cookies.name + "!");
                $("#join").hide();
            }
        }

        function setActiveUsersPageButtonState(isLoggedIn) {
            activeUsersLi.addClass("active");
            if (isLoggedIn) {
                chatIsReadyButtonState();
            }
        }

        function setChatPageButtonState(isLoggedIn) {
            chatLi.addClass("active");
            if (isLoggedIn) {
                chatIsReadyButtonState();
            }
        }

        function getChatCookies() {
            var id = $.cookie(chatUserCookieId);
            var name = $.cookie(chatUserCookieName);
            var cookies = {};
            if (id) {
                cookies.id = id;
            }
            if (name) {
                cookies.name = name;
            }
            return cookies;
        }

        function chatIsReadyButtonState() {
            chatLi.removeClass("disabled");
            registerLi.addClass("disabled");
            $("#register-a").attr('href', '');
            $("#chat-a").attr('href', '/chat');
        }

        $("#join").click(function() {
            var user = $("#user").val();
            if (user) {
                $.post("/user", {'name': user}, function(res) {
                    var data = res;
                    $.cookie(chatUserCookieName, data.name);
                    $.cookie(chatUserCookieId, data.id);
                    window.location.replace('/chat');
                })
                .fail(function(res) {
                    alert("Unable to join chat at this time :(");
                });
            } else {
                alert("You must enter a name to chat!");
            }
        });
    });
