doctype html
html(lang="en", ng-app="chatApp")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.min.js")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js")

    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")

    link(rel="stylesheet", href="css/main.css")
    script(src="js/main.js")
    script(src="js/controllers.js")
    script(src="js/app.js")
    head
        title Ultimate Chat App!

    body
        nav
            ul.nav.nav-tabs#nav-ul
                li#register-li(role="presentation")
                    a#register-a(href="/") Register
                li.disabled#chat-li(role="presentation")
                    a#chat-a Chat
