include header
div.container
    div.row
        div.col-md-12
            form.navbar-form.navbar-left
                div.form-group
                    label#userlabel(for="user") Choose your...  
                    input.form-control#user(type="text", placeholder="User name")
                button.btn.btn-default#join Join

