
#main_container {
    border: 2px solid;
    min-height: 400px;
    max-height: 400px;
    min-width: 600px;
    max-width: 600px;
}

#messages-row {
    min-height: 500px;
    max-height: 500px;
    min-width: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#message-input {
    width: 700px;
    display: inline-block
}

.wrap_text {
    word-break: break-all;
    word-wrap: break-word
}

input:disabled {
    color:#717782;
}

.error {
    color: red
}

.current_user {
    color: green;
    font-weight: bold
}
